ARK_API_KEY="ARK_API_KEY_HERE"
MODEL_ENDPOINT_ID="SEED_1.6_FLASH_ENDPOINT_ID_HERE"
TARGET_TOKEN_MILLION=30
CACHE_ENABLED=False
CACHE_PREFIX=False
COST_PER_MILLION=0.0875 # SEED 1.6 FLASH AVG PRICE [0-226k]
TARGET_VARIATION_PERCENT=5 # +-5% to reflect dynamic usage